<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidstack.customview">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="androidstack.customview.App"
        android:theme="@style/AppTheme">
        <activity android:name="androidstack.customview.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="androidstack.customview.BasisViewActivity" />
        <activity android:name="androidstack.customview.animation.view.tween.ScaleAnimationActivity" />
        <activity android:name="androidstack.customview.animation.property.PropertyAnimationActivity" />
        <activity android:name="androidstack.customview.animation.view.ViewAnimationActivity" />
        <activity android:name="androidstack.customview.animation.view.frame.FrameAnimationActivity" />
        <activity android:name="androidstack.customview.animation.view.tween.AlphaAnimationActivity" />
        <activity android:name="androidstack.customview.animation.view.tween.TweenAnimationActivity" />
        <activity android:name="androidstack.customview.animation.view.tween.TranslateAnimationActivity" />
        <activity android:name="androidstack.customview.animation.view.tween.RotateAnimationActivity" />
        <activity android:name="androidstack.customview.animation.view.tween.SetAnimationActivity" />
        <activity android:name="androidstack.customview.animation.interpolator.InterpolatorActivity" />
        <activity android:name="androidstack.customview.animation.view.tween.effect.CameraActivity" />
        <activity android:name="androidstack.customview.animation.view.tween.effect.LoadingActivity" />
        <activity android:name="androidstack.customview.animation.view.tween.effect.ScannerActivity" />
        <activity android:name="androidstack.customview.custom.CustomProgressActivity" />
        <activity android:name="androidstack.customview.animation.property.value.ValueAnimatorActivity" />
        <activity android:name="androidstack.customview.animation.property.evaluator.EvaluatorActivity" />
        <activity android:name="androidstack.customview.animation.property.value.FallingBallValueActivity" />
        <activity android:name="androidstack.customview.animation.property.object.ObjectAnimatorActivity" />
        <activity android:name="androidstack.customview.animation.property.object.FallingBallObjectActivity" />
        <activity android:name="androidstack.customview.animation.property.set.AnimatorSetActivity" />
        <activity android:name="androidstack.customview.animation.property.set.MenuActivity" />
        <activity android:name="androidstack.customview.animation.property.advanced.AdvancedPropertyActivity" />
        <activity android:name="androidstack.customview.animation.property.advanced.PhoneActivity" />
        <activity android:name="androidstack.customview.animation.property.advanced.ViewGroupAnimateActivity" />
        <activity android:name="androidstack.customview.animation.advanced.PathMeasureActivity" />
        <activity android:name="androidstack.customview.svg.SvgActivity" />
        <activity android:name="androidstack.customview.svg.svga.SvgaActivity" />
        <activity android:name="androidstack.customview.svg.lottie.LottieActivity" />
        <activity android:name="androidstack.customview.drawing.matrix.MatrixActivity" />
        <activity android:name="androidstack.customview.drawing.PaintActivity" />
        <activity android:name="androidstack.customview.MaskActivity" />
        <activity android:name="androidstack.customview.toolbar.ToolBarActivity" />
        <activity android:name="androidstack.customview.rv.layoutmanager.CardActivity" />
        <activity android:name="androidstack.customview.rv.partrv.PartRvActivity" />
        <activity android:name="androidstack.customview.svg.svga.SvgaTextActivity" />
        <activity android:name=".text.TextActivity" />
    </application>

</manifest>