<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidstack.progress">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BasisViewActivity" />
        <activity android:name=".animation.view.tween.ScaleAnimationActivity" />
        <activity android:name=".animation.property.PropertyAnimationActivity" />
        <activity android:name=".animation.view.ViewAnimationActivity" />
        <activity android:name=".animation.view.frame.FrameAnimationActivity" />
        <activity android:name=".animation.view.tween.AlphaAnimationActivity" />
        <activity android:name=".animation.view.tween.TweenAnimationActivity" />
        <activity android:name=".animation.view.tween.TranslateAnimationActivity" />
        <activity android:name=".animation.view.tween.RotateAnimationActivity" />
        <activity android:name=".animation.view.tween.SetAnimationActivity" />
        <activity android:name=".animation.interpolator.InterpolatorActivity" />
        <activity android:name=".animation.view.tween.effect.CameraActivity" />
        <activity android:name=".animation.view.tween.effect.LoadingActivity" />
        <activity android:name=".animation.view.tween.effect.ScannerActivity" />
        <activity android:name=".custom.CustomProgressActivity" />
        <activity android:name=".animation.property.value.ValueAnimatorActivity" />
        <activity android:name=".animation.property.evaluator.EvaluatorActivity" />
        <activity android:name=".animation.property.value.FallingBallValueActivity" />
        <activity android:name=".animation.property.object.ObjectAnimatorActivity" />
        <activity android:name=".animation.property.object.FallingBallObjectActivity" />
        <activity android:name=".animation.property.set.AnimatorSetActivity" />
        <activity android:name=".animation.property.set.MenuActivity" />
        <activity android:name=".animation.property.advanced.AdvancedPropertyActivity" />
        <activity android:name=".animation.property.advanced.PhoneActivity" />
        <activity android:name=".animation.property.advanced.ViewGroupAnimateActivity" />
        <activity android:name=".animation.advanced.PathMeasureActivity" />
        <activity android:name=".svg.SvgActivity" />
        <activity android:name=".svg.svga.SvgaActivity" />
        <activity android:name=".svg.lottie.LottieActivity" />
        <activity android:name=".matrix.MatrixActivity" />
    </application>

</manifest>