<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidstack.progress">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BasisViewActivity" />
        <activity android:name=".animation.view.tween.ScaleAnimationActivity" />
        <activity android:name=".animation.property.PropertyAnimationActivity" />
        <activity android:name=".animation.view.ViewAnimationActivity" />
        <activity android:name=".animation.view.frame.FrameAnimationActivity" />
        <activity android:name=".animation.view.tween.AlphaAnimationActivity" />
        <activity android:name=".animation.view.tween.TweenAnimationActivity" />
        <activity android:name=".animation.view.tween.TranslateAnimationActivity" />
        <activity android:name=".animation.view.tween.RotateAnimationActivity" />
        <activity android:name=".animation.view.tween.SetAnimationActivity" />
        <activity android:name=".animation.interpolator.InterpolatorActivity" />
    </application>

</manifest>